@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
  --cream: hsl(30, 38%, 92%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --dark-cyan-bg: hsl(158, 36%, 37%);
  --dark-cyan-text: hsl(158, 36%, 37%);
  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--cream);
  font-family: var(--montserrat);
  overflow: hidden;
}

main {
  background-color: white;
  border-radius: 1rem;
  width: 350px;
  margin: 50px auto;
  overflow: hidden;
}

header img {
  width: 100%;
}

footer {
  padding: 1rem 1.5rem;
}

footer .tipo {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

footer h2 {
  font-family: var(--fraunces);
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .text {
  color: var(--dark-grayish-blue);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-bottom: 1.5rem;
}

.precio h3 {
  color: var(--dark-cyan-text);
  font-family: var(--fraunces);
  font-size: 1.8rem;
}

.precio h3 span {
  color: var(--dark-grayish-blue);
  font-size: 0.7rem;
  font-family: var(--montserrat);
  display: inline-block;
  text-decoration: line-through;
  margin-left: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background-color: var(--dark-cyan-bg);
  color: white;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 0.8rem;
  font-weight: 700;
}

button img {
  margin-right: 0.4rem;
}